html, body {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
#main {
	margin: 5px 20px;
}
div.left {
	float: left;
	margin-right: 20px;
	width: 200px;
	margin-bottom: 30px;
}
div.left p {
	text-align: center;
}
img {
	border: 0px none;
}
div.center {
	width: 600px;
}
.clear {
  clear : both;
}
#controls { z-index: 1000; position: absolute; top: 0; left: 0; display: none;
    background-color: #ffc; border: 1px solid #ddd; margin: 0; padding: 6px; 
    width: 200px;
}
#controls span { margin: 0 5px }
#slideshow { position: relative; width: 0px; margin: 0px; }
