!!!
%html
  %head
    %title= [@title, "DMZ Forge"].compact.join(": ")
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.2.72.js"}
    %script{:type => "text/javascript"}
      :plain
        $(document).ready(function() {
          $('.slideshow').cycle({
            fx: 'fade',
            timeout: 500,
            speed: 0,
          });
        });

%body
  = yield
